
$font-family-sans-serif: Poppins, sans-serif;
$h1-font-size: $font-size-base *3;
$headings-line-height: 1.1;
$primary: #0D0D0D;
$border-radius: .0;
$headings-font-weight: 400;
$headings-font-family: Poppins, sans-serif;
$input-btn-font-family: ;
$input-font-family: $headings-font-family;